.address {
  @media (max-width: $vp-mobile) {
    border-bottom: 1px solid #f8fdffb3;
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 25px;
  }
}

.address a {
  color: $transparent-white;
  padding: 5px;
  display: flex;
  margin-left: -5px;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }
}

.address p {
  color: $transparent-white;
  margin: 0;

  @media (max-width: $vp-mobile) {
    font-size: 14px;
    line-height: 135%;
  }
}
