.address {
  @media (max-width: $vp-mobile) {
    &::after {
    border-bottom: 1px solid #f8fdffb3;
    margin-left: -25px;
    margin-right: -25px;
    }
  }
}

.address a {
  color: #ffffffb3;
  padding: 5px;
  display: flex;
  margin-left: -5px;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }
}

.address p {
  color: #ffffffb3;
  margin: 0;
}
