.btn {
  display: inline-flex;
  margin: 10px 0;
  padding: 10px 20px;
  color: $default-white;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
