.company {
  background-image: url("../img/2022.png");
  background-repeat: no-repeat;
  min-height: 320px;
  padding-left: 250px;
  margin-top: 120px;

  @media (max-width: $vp-tablet) {
    margin-top: 75px;
    padding-left: 175px;
    background-position-x: -4px;
    background-position-y: 5px;
  }

  @media (max-width: $vp-mobile) {
    margin-top: 48px;
    padding-left: 0;
    background-image: none;
  }
}

.company h2 {
  margin-bottom: 0;

  @media (max-width: $vp-mobile) {
    font-size: 28px;
    line-height: 140.62%;
  }
}

.company p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 21px;

  @media (max-width: $vp-mobile) {
    font-size: 14px;
    line-height: 134.4%;
  }
}

.company summary {
  border: 1px solid $base-blue;
  border-radius: 3px;
  min-width: 180px;
  width: fit-content;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $roboto;
  letter-spacing: 0.05em;
  color: $base-blue;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 40px;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }

  @media (max-width: $vp-tablet) {
    margin-top: -5px;
  }

  @media (max-width: $vp-mobile) {
    min-width: 160px;
    height: 35px;
  }
}
