.company {
  background-image: url("../img/2022.png");
  background-repeat: no-repeat;
  min-height: 320px;
  padding-left: 250px;
  margin-top: 120px;

  @media (max-width: $vp-tablet) {
    margin-top: 80px;
    padding-left: 180px;
  }

  @media (max-width: $vp-mobile) {
    margin-top: 50px;
    padding-left: 0;
    background-image: none;
  }
}

.company h2 {
  margin-bottom: 0;
}

.company p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 15px;
}

.company summary {
  border: 1px solid $base-blue;
  border-radius: 3px;
  min-width: 180px;
  width: fit-content;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', 'Courier', monospace;
  color: $base-blue;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }

  @media (max-width: $vp-mobile) {
    min-width: 160px;
    height: 35px;
  }
}
