.custom-checkbox {
  cursor: pointer;
  align-self: center;
}

.custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #fff;
  border-radius: 2px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: transparent;
}

.custom-checkbox > input:not(:disabled) + span:hover::before,
.custom-checkbox__input:focus ~ span::before {
  background-color: transparent;
}

.custom-checkbox > input:not(:disabled) + span:active::before {
  background-color: transparent;
}

.custom-checkbox > input:checked + span::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 17'%3e%3cpath fill='%23fff' d='M23.963 1.68385L22.9687 0.692322L8.76555 14.7862L1.73497 7.77467L0.740742 8.76619L7.77132 15.7777L8.76555 16.7692L9.83079 15.7777L23.963 1.68385Z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 11px;
}

.custom-checkbox > input:disabled + span::before {
  background-color: rgba(255, 255, 255, 0.3);
}
