.feedback {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 225px;
  padding-top: 165px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $base-blue;

  @media (min-width: $vp-desktop) {
    background-image: url("../img/form-background.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/form-background@2x.webp");
    }
  }

  @media (max-width: $vp-tablet) {
    background-image: none;
    grid-template-columns: 1fr;
    padding: 47px 50px 115px;
  }

  @media (max-width: $vp-mobile) {
    padding-bottom: 90px;
  }
}

.feedback h2 {
  color: $default-white;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  margin-left: -3px;

  @media (max-width: $vp-tablet) {
    margin: 0;
  }

  @media (max-width: $vp-mobile) {
    font-size: 30px;
    line-height: 140.62%;
  }
}

.feedback p {
  color: $default-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 13px;
  margin-bottom: 33px;

  @media (max-width: $vp-tablet) {
  margin-top: 7px;
  margin-bottom: 25px;
  }
}

.feedback__wrapper {
  grid-column: 2 / -1;
  padding-left: 17px;

  @media (max-width: $vp-tablet) {
    grid-column: auto;
    margin: 0 auto;
    min-width: 670px;
    padding-left: 0;
  }
}

.feedback__wrapper form {
  color: $default-white;
  min-width: 580px;
  min-height: 225px;
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 30px;
  row-gap: 20px;

  @media (max-width: $vp-tablet) {
    width: 100%;
    min-height: 305px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $vp-mobile) {
    grid-template-columns: 1fr;
    min-height: 450px;
    min-width: fit-content;
  }
}

.feedback__wrapper input {
  width: 100%;
  height: 50px;
  background: #04142726;
  border-radius: 3px;
  border: none;
  color: $base-white;
  padding: 15px;
}

.feedback__wrapper input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: fit-content;
}

.feedback__wrapper textarea {
  min-height: 155px;
  width: fit-content;
  min-width: 580px;
  color: $base-white;
  background: #04142726;
  border-radius: 3px;
  border: none;
  padding: 15px;
  padding-top: 25px;

  @media (max-width: $vp-tablet) {
    width: 100%;
    padding: 30px 15px 15px;
  }

  @media (max-width: $vp-mobile) {
    min-width: 100%;
  }
}

.feedback__wrapper input::placeholder,
.feedback__wrapper textarea::placeholder {
  color: $base-white;
  font-family: $pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.feedback__wrapper label {
  width: fit-content;
  min-width: 275px;

  @media (max-width: $vp-tablet) {
    width: 100%;
  }
}

.feedback__wrapper label > span {
  color: $base-white;
  opacity: 0.8;
  font-size: 14px;
  line-height: 16px;
  padding: 23px 10px;

  @media (max-width: $vp-tablet) {
    padding: 0;
  }
}

.feedback__wrapper .btn {
  min-width: 265px;
  width: fit-content;
  height: 45px;
  color: $base-white;
  font-family: $roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  justify-content: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: #041427;
  border-radius: 3px;
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }

  @media (max-width: $vp-tablet) {
    width: fit-content;
    margin-top: 8px;
  }

  @media (max-width: $vp-mobile) {
    grid-row: 4 / 5;
    width: 100%;
    margin: 0;
    width: fit-content;
  }
}

.feedback__wrapper .textarea {
  grid-column: 1 / -1;
}
