.footer-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 160px;
  column-gap: 30px;
  column-gap: 30px;
  margin-left: -5px;
}

.footer-navigation__item {
  width: 220px;
}

.footer-navigation__item a {
  color: #ffffffb3;
  padding: 5px;
  display: flex;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }
}
