.footer-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 160px;
  column-gap: 30px;
  column-gap: 30px;
  margin-left: -5px;
  width: min-content;

  @media (max-width: $vp-tablet) {
    height: 100%;
  }
}

.footer-navigation__item {
  min-width: 220px;
}

.footer-navigation__item a {
  color: $transparent-white;
  padding: 5px;
  display: flex;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }
}
