.footer {
  background-color: $default-black;
  color: $default-white;
  padding-top: 50px;
  padding-bottom: 30px;
  flex: 0 0 auto;

  @media (max-width: $vp-tablet) {
    padding-bottom: 59px;
  }

  @media (max-width: $vp-mobile) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 460px 347px;
  column-gap: 40px;

  @media (max-width: 1150px) {
    grid-template-columns: 1fr 460px 1fr;
  }

  @media (max-width: $vp-tablet) {
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 25px;
  }

  @media (max-width: $vp-mobile) {
    grid-template-columns: 1fr;
    row-gap: unset;
  }
}

.footer__logo {
  display: flex;
  margin-bottom: 23px;

  @media (max-width: $vp-mobile) {
    margin-left: -3px;
    margin-bottom: 10px;
  }
}

.footer h2 {
  font-family: $roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $base-white;
  padding-top: 8px;
  padding-bottom: 15px;
  margin-bottom: 0;

  @media (max-width: $vp-mobile) {
    padding-top: 23px;
    padding-bottom: 20px;
  }
}
