.footer {
  background-color: $default-black;
  color: $default-white;
  padding-top: 50px;
  padding-bottom: 55px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 470px 345px;
}

.footer__logo {
  display: flex;
  margin-bottom: 17px;
}

.footer h2 {
  font-family: 'Roboto Condensed', 'Courier', monospace;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
