.goods {
  background-color: $default-black;
  color: $default-white;
  margin-top: 100px;
  padding-bottom: 140px;

  @media (max-width: $vp-tablet) {
    margin-top: 80px;
    padding-bottom: 75px;
  }
}

.goods h2 {
  padding-top: 67px;
  margin-bottom: 53px;

  @media (max-width: $vp-tablet) {
    padding-top: 55px;
    margin-bottom: 38px;
  }

  @media (max-width: $vp-mobile) {
    font-size: 28px;
  }
}

.goods__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  gap: 85px;

  @media (max-width: $vp-tablet) {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.goods__item a {
  color: $default-white;
  background-color: $default-black;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-width: 100%;
  min-height: 650px;

  @media (max-width: $vp-tablet) {
    min-height: 250px;
  }

  @media (max-width: $vp-mobile) {
    min-height: 250px;
  }
}

.goods__item span {
  font-family: $roboto;
  padding: 47px 40px;
  width: 240px;
  color: $base-white;

  @media (max-width: $vp-tablet) {
    padding: 37px 45px;
  }

  @media (max-width: $vp-mobile) {
    max-width: min-content;
    font-size: 18px;
    line-height: 30px;
    padding: 30px 135px 30px 30px;
  }
}

.goods__item:first-child a {
  @media (min-width: $vp-desktop) {
    background-image: url("../img/card-background-1.webp");
    width: fit-content;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/card-background-1@2x.webp");
    }
  }

  @media (max-width: $vp-tablet) {
    background-image: url("../img/card-background-1-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/card-background-1-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-mobile) {
    background-image: url("../img/card-background-1-mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/card-background-1-mobile@2x.webp");
    }
  }
}

.goods__item:nth-child(2) a {
  @media (min-width: $vp-desktop) {
    background-image: url("../img/card-background-2.webp");
    width: fit-content;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/card-background-2@2x.webp");
    }
  }

  @media (max-width: $vp-tablet) {
    background-image: url("../img/card-background-2-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/card-background-2-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-mobile) {
    background-image: url("../img/card-background-2-mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/card-background-2-mobile@2x.webp");
    }
  }
}

.goods__item:last-child a {
  @media (min-width: $vp-desktop) {
    background-image: url("../img/card-background-3.webp");
    width: fit-content;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/card-background-3@2x.webp");
    }
  }

  @media (max-width: $vp-tablet) {
    background-image: url("../img/card-background-3-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/card-background-3-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-mobile) {
    background-image: url("../img/card-background-3-mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/card-background-3-mobile@2x.webp");
    }
  }
}

.goods__square {
  width: 60px;
  height: 60px;
  background-color: $base-blue;
  margin-top: auto;
  margin-left: auto;
  background-image: url("../img/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }

  @media (max-width: $vp-mobile) {
    width: 40px;
    height: 40px;
  }
}
