.header {
  background-image: url("../img/top-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  width: 100%;
  min-height: 120px;

  @media (max-width: $vp-tablet) {
    position: unset;
    z-index: 1;
    min-height: 100px;
  }

  @media (max-width: $vp-mobile) {
    min-height: 80px;
  }
}

.header__img {
  @media (max-width: $vp-mobile) {
    width: 35px;
    height: 45px;
    padding-top: 4px;
  }
}

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 30px 30px 0;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0;

  @media (max-width: $vp-tablet) {
    padding: 0;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    margin: 0;
  }

  @media (max-width: $vp-mobile) {
    padding-top: 10px;
    grid-template-columns: 1fr 60px 50px;
  }
}

.header__item a {
  color: $default-white;
  font-size: 16px;
  line-height: 18px;
}

.header__item .btn {
  font-family: $roboto;
  min-width: 160px;
  min-height: 40px;
  border: 1px solid $default-white;
  background-color: transparent;
  border-radius: 3px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 10px 15px;
  margin-top: 5px;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }

  @media (max-width: $vp-tablet) {
    display: none;
  }
}
