.header {
  background-image: url("../img/header-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 880px;
  background-color: $default-black;
  color: $default-white;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-background@2x.webp");
  }

  @media (max-width: $vp-tablet) {
    background-image: url("../img/header-background-tablet.webp");
    min-height: 640px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-background-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-mobile) {
    background-image: url("../img/header-background-mobile.webp");
    min-height: 560px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-background-mobile@2x.webp");
    }
  }
}

.header__wrapper {
  background-image: url("../img/top-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  width: 100%;
  min-height: 120px;
  z-index: 9;

  @media (max-width: $vp-tablet) {
    position: unset;
  }
}

.header__img {
  @media (max-width: $vp-mobile) {
    width: 35px;
    height: 45px;
    padding-top: 10px;
  }
}

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 25px;

  @media (max-width: $vp-tablet) {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    margin: 0;
  }

  @media (max-width: $vp-mobile) {
    padding-top: 10px;
  }
}

.header__item a {
  color: $default-white;
  font-size: 16px;
  line-height: 18px;
}

.header__item .btn {
  font-family: $roboto;
  min-width: 160px;
  min-height: 40px;
  border: 1px solid $default-white;
  background-color: transparent;
  border-radius: 3px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 10px 15px;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }

  @media (max-width: $vp-tablet) {
    display: none;
  }
}
