.intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 880px;
  background-color: $default-black;
  color: $default-white;

  @media (min-width: $vp-desktop) {
    background-image: url("../img/intro-background.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-background@2x.webp");
    }
  }

  @media (max-width: $vp-tablet) {
    background-image: url("../img/intro-background-tablet.webp");
    min-height: 640px;
    margin-top: -100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-background-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-mobile) {
    background-image: url("../img/intro-background-mobile.webp");
    min-height: 560px;
    margin-top: -80px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-background-mobile@2x.webp");
    }
  }
}

.intro p {
  color: $default-white;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  max-width: 685px;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 125px;
  margin-right: 125px;

  @media (max-width: $vp-tablet) {
    font-size: 22px;
    margin: 0;
  }

  @media (max-width: $vp-mobile) {
    font-size: 14px;
    width: 100%;
    min-width: fit-content;
    margin-top: 8px;
    min-height: 35px;
  }
}

.intro .btn {
  min-width: 410px;
  height: 55px;
  border-radius: 3px;
  background-color: $base-blue;
  font-family: $roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 15px 25px;
  margin-top: 47px;
  margin-left: 125px;
  margin-right: 125px;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }

  @media (max-width: $vp-tablet) {
    margin-top: 57px;
    margin-left: 45px;
    margin: 0;
  }

  @media (max-width: $vp-mobile) {
    min-width: 270px;
    font-size: 14px;
    line-height: 16px;
    min-height: 40px;
    height: fit-content;
    margin-top: 45px;
    margin-left: 0;
    min-height: 40px;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
  }
}
