.intro {
  padding-left: 205px;

  @media (max-width: $vp-tablet) {
    padding-left: 0;
  }
}

.intro p {
  color: $default-white;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  max-width: 685px;
  margin-top: 30px;
  margin-bottom: 0;

  @media (max-width: $vp-tablet) {
    font-size: 22px;
    margin: 0;
  }

  @media (max-width: $vp-mobile) {
    font-size: 14px;
    width: 100%;
    min-width: fit-content;
  }
}

.intro .btn {
  min-width: 410px;
  height: 55px;
  border-radius: 3px;
  background-color: $base-blue;
  font-family: $roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 15px 25px;
  margin-top: 47px;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }

  @media (max-width: $vp-tablet) {
    margin-top: 57px;
    margin-left: 45px;
  }

  @media (max-width: $vp-mobile) {
    min-width: 270px;
    font-size: 14px;
    line-height: 16px;
    min-height: 40px;
    height: fit-content;
  }
}
