.page {
  font-family: "PT Mono", "Courier", monospace;
}

.page h1 {
  font-family: "Roboto Condensed", "Courier", monospace;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  margin-top: -250px;
  color: $default-white;
}

.page h2 {
  font-family: 'Roboto Condensed', "Courier", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
}
