.page {
  font-family: "PT Mono", 'Courier', monospace;
  background-color: #e5e5e5;
}

.page h1 {
  font-family: 'Roboto Condensed', 'Courier', monospace;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  margin-top: -590px;
  margin-bottom: 0;
  color: $default-white;

  @media (max-width: $vp-tablet) {
    font-size: 64px;
    line-height: 75px;
    margin-top: -450px;
  }
}

.page h2 {
  font-family: 'Roboto Condensed', 'Courier', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
}
