.phone {
  margin-top: 12px;
  margin-right: 10px;

  @media (max-width: $vp-tablet) {
    margin: 0;
  }
}

.phone a {
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0px;
  padding: 10px;
  padding-left: 35px;

  &:hover,
  &:focus {
    background-color: $default-hover;
  }
  &:active {
    background-color: $default-active;
  }

  @media (max-width: $vp-tablet) {
    padding: 10px;
    width: 40px;
    height: 40px;
    display: block;
    background-position-x: center;
  }
}

.phone span {
  @media (max-width: $vp-tablet) {
    display: none;
  }
}
