.social {}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 150px;
  gap: 1px;
  justify-items: center;
  padding-left: 10px;
}

.social__item {
  padding: 12px;
}

.social__link {
  display: flex;
}
