.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-right: 103px;
  padding-left: 103px;

  @media (max-width: $vp-tablet) {
    padding-right: 45px;
    padding-left: 45px;
  }

  @media (max-width: $vp-mobile) {
    padding-right: 15px;
    padding-left: 15px;
  }
}
